{% extends 'base_two_columns.html' %}

{% block title %}Organi politici | {{ committee.name }}{% endblock title %}
{% block content_header %}{{ committee.name }}{% endblock %}
{% block content_header_city_logo %}
    <img src="{{ STATIC_URL }}img/{{ main_city|lower }}-logo/politician.png"
         xmlns:br="http://www.w3.org/1999/html"
         alt="Comune di {{ main_city }}">
{% endblock %}
{% block body_class %}politician{% endblock %}
{% block people_class %}class="active"{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Commissioni' %}
{% endblock %}

{% block content %}

  {% include "people/_institution_single.html" with committee=committee members=members level=1 %}

  <hr class="big">
  <h1>Raggruppamenti</h1>
  <hr/>

  {% for sub_comm in sub_committees %}
    {% include "people/_institution_single.html" with committee=sub_comm members=sub_comm.members level=2 %}
    <hr/>
  {% endfor %}

{% endblock %}

{% block sidebar %}
    <section class="share-tools clearfix">
        {% load web_services_tags %}
        {% share committee %}
    </section>

    <section>
        {% include 'commons/calendar.html' with events=events %}
    </section>

    <h2>Commissioni</h2>
    <ul class="list-plain">
        {% for c in committees %}
            {% if c.id == committee.id %}
                <li><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</li>
            {%  else %}
                <li><a href="{{ c.get_absolute_url }}"><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

  {%  comment %}
  {% include 'commons/news_list.html' with news_list=i_news news_title='Ultime sulla Commissione' %}
  {% endcomment %}
{% endblock %}


