{% extends 'base_two_columns.html' %}
{% load registration_tags %}
{% load popover_info %}
{% load digg_paginator %}

{% block head_js_includes %}
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}css/ui-custom-theme/jquery-ui-1.8.16.ie.css"><![endif]-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/include.js" data-url="{{ STATIC_URL }}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>        
{% endblock head_js_includes %}


{% block title %}Organi politici | {{ committee.name }}{% endblock title %}
{% block content_header %}{{ committee.name }}{% endblock %}
{% block content_header_city_logo %}
    <img src="/static/img/ORDINE-PSICOLOGI.png" 
         xmlns:br="http://www.w3.org/1999/html"
         alt="Comune di {{ main_city }}">
{% endblock %}
{% block body_class %}politician{% endblock %}
{% block people_class %}class="active"{% endblock %}

{% block sub_nav %}
    {%  include 'commons/subnav.html' with active='Commissioni' %}
{% endblock %}

{% block content %}
<section id="payoff" class="container-fluid">
    <div class="row-fluid" >
      
      <div class="cosa-fanno span6" style="">
        <h3 style="
width: 200%;
text-align: center;
position: relative;
margin-top: 0;
font-size: 20px;
padding-bottom: 5px;
font-weight: 100;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 2px solid #CCC;
white-space: nowrap;
padding: 34px 0px 21px 0px;
border-radius: 20px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #f5f5f5;

">Scopri gli psicologi della tua regione:
            </br>
            <input style="width: 80%;
line-height: 19px;
height: 37px;
font-size: 17px;
margin-left: 0px;
padding: 4px 0px 0px 48px;
margin-top: 10px;" type="text" class="input-large" id="search-politician"
                   data-provide="typeahead" data-items="5" data-minLength="2"
                   placeholder="Digita il nome di uno psicologo">
        </h3>
      </div>
    </div>
    </br>
  </section>


{%  if sub_committees %}
        <hr class="big">
        <h2>Dettaglio sezioni dell'Albo:{% popover_info 'elenco-dei-membri-degli-iscritti-albo' %}</h2>
        <hr/>

        <div id="sezioni_tabs">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                {% for sub_comm in sub_committees %}        
                     <li class="{% cycle 1 2 3 4 5 as y %} {% if y == 1 %} active {% endif %}"><a href="#{{y}}" data-toggle="tab">{{sub_comm}}</a></li>       
                {% endfor %}
            </ul>
            <div id="oo-tab-content" class="tab-content">
            {% for sub_comm in sub_committees %}
                            
                      <div class="{% cycle 1 2 3 4 5 as k %} tab-pane{% if k == 1 %} active {% endif %}" id="{{k}}">                
                          {% include "people/_institution_single.html" with cur_committee=sub_comm cur_members=sub_comm.members level=2 %}
                      </div>                        
            {% endfor %}
           
          </div>
        </div>
    {% endif %}

  <div class="tree well" style="">
    <p>sezione test</p>
    {% include "people/_institution_single.html" with cur_committee=committee cur_members=committee.members level=1 %}
  </div>  
 
{% endblock %}

{% block sidebar %}
    <section class="share-tools clearfix">
        {% load web_services_tags %}
        {% share committee %}
    </section>

    <section>
        {% include 'commons/calendar.html' with events=events %}
    </section>

    <h2>Sezioni dell'albo</h2>
    <ul class="list-plain">
        {% for c in committees %}
            {% if c.id == committee.id %}
                <li><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</li>
            {%  else %}
                <li><a href="{{ c.get_absolute_url }}"><strong>{{ c.name }}</strong>: {{ c.description|truncatewords:3 }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

  {%  comment %}
  {% include 'commons/news_list.html' with news_list=i_news news_title='Ultime sulla Commissione' %}
  {% endcomment %}
{% endblock %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-typeahead.2.0.0.modified.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      
          function removenull(str) {
              var new_str = str;
              if (str == '') {
                  new_str = str.replace('', "N/A");
              }
              else if (str == null) {
                  new_str = "N/A";
              }

              return new_str;
          }
      
          $('#search-politician').typeahead({
              source: function(typeahead, query) {
                  $.ajax({
                      url: "{% url 'om_politician_search'  %}",
                      dataType: "json",
                      type: "GET",
                      data: {
                          max_rows: 10,
                          key: query,
                          ajax: 1
                      },
                      success: function(data) {
                          var return_list = [], i = data.length;
                          while (i--) {
                              return_list[i] = {
                                  slug: data[i].fields.slug,
                                  image: data[i].fields.img,
                                  value: removenull(data[i].fields.first_name) + " " + removenull(data[i].fields.last_name)};
                          }
                          typeahead.process(return_list);
                      }
                  });
              },
              onselect: function(obj) {
                  window.location.href = "http://{{ current_site }}/people/" + obj.slug;
              }
          });
      
          $('a.event_toggle_modal').each(function() {
              var link = $(this);
              link.click(function(e) {
                  e.preventDefault();
                  $(link.attr('href')).modal();
              });
          });
      
      });

      
  </script>

    {% if ALERT_POPUP|length > 0 %}
      <script type="text/javascript">
          $(document).ready(function(){
              $('#home-alert').modal();
          });
      </script>
  {% endif %}

{% endblock %}
