{% extends "registration/base_user.html" %}
{% load i18n %}

{% block title %}Registrazione al sito{% endblock %}
{% block content_header %}Registrazione al sito{% endblock %}

{% block content %}
    <div class="registration container">
        <div class="row-fluid">
            <div class="span8">
                <p>Per accedere al gestionale bisogna essere registrati al sito.</p>
               
                
                <form enctype="multipart/form-data" action="" method="post" class="form-horizontal" accept-charset="utf-8">
 <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab-1" data-toggle="tab">Credenziali</a></li>
                      <li><a href="#tab-2" data-toggle="tab">Dati per l'iscrizione</a></li>
                      <li><a href="#tab-3" data-toggle="tab">Recapiti</a></li>
                      <li><a href="#tab-4" data-toggle="tab">Richieste</a></li>
                </ul>
                <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                        
                         <legend>Dati per accedere al sito</legend>
                            {% include "registration/form_element.html" with element=form.username %}
                            {% include "registration/form_element.html" with element=form.password1 %}
                            {% include "registration/form_element.html" with element=form.password2 %}
                        </div>
                        <div class="tab-pane" id="tab-2">
                         
                          <legend>Dati personali</legend>
                            {% include "registration/form_element.html" with element=form.email prepend="@" %}
        {% comment %}
                            {% include "registration/form_element.html" with element=form.location %}
        {% endcomment %}
                            {% include "registration/form_element.html" with element=form.first_name %}
                            {% include "registration/form_element.html" with element=form.last_name %}
                            {% include "registration/form_element.html" with element=form.sex %}

                            {% include "registration/form_element.html" with element=form.birth_date %}
                            {% include "registration/form_element.html" with element=form.birth_location %}

                            {% if UI_ALLOW_NICKNAMES %}
                                {% include "registration/form_element.html" with element=form.uses_nickname checkbox=1 %}
                            {% endif %}
        {% comment %}
                            {% include "registration/form_element.html" with element=form.says_is_politician checkbox=1 %}
        {% endcomment %}
                            {% include "registration/form_element.html" with element=form.description %}
                            {% include "registration/form_element.html" with element=form.image %}

                            {% include "registration/form_element.html" with element=form.says_is_psicologo_clinico checkbox=1 %}
                            {% include "registration/form_element.html" with element=form.says_is_psicologo_lavoro checkbox=1 %}
                            {% include "registration/form_element.html" with element=form.says_is_psicologo_forense checkbox=1 %}
                            {% include "registration/form_element.html" with element=form.is_asl_employee checkbox=1 %}
                            {% include "registration/form_element.html" with element=form.is_self_employed checkbox=1 %}

                            {% include "registration/form_element.html" with element=form.register_subscription_date %}



        {% comment %}
                            {% include "registration/form_element.html" with element=form.wants_newsletter checkbox=1 %}
        {% endcomment %}

                            <div id="legal" class="alert">
                                {% include "registration/form_element.html" with element=form.tos checkbox=1 %}
                                {% include "registration/form_element.html" with element=form.pri checkbox=1 %}
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                        
                          <legend>Riferimenti e contatti</legend>                        
                             {% include "registration/form_element.html" with element=form.indirizzo_residenza %}
                             {% include "registration/form_element.html" with element=form.citta_residenza %}
                             {% include "registration/form_element.html" with element=form.indirizzo_domicilio %}
                             {% include "registration/form_element.html" with element=form.citta_domicilio %}
                             {% include "registration/form_element.html" with element=form.cap %}
                             {% include "registration/form_element.html" with element=form.provincia_domicilio %}
                             {% include "registration/form_element.html" with element=form.codice_fiscale %}

                        </div>
                        <div class="tab-pane" id="tab-4">
                          <legend>Opzioni e servizi</legend>
                          {% include "registration/form_element.html" with element=form.ritito_agenda %}
                          {% include "registration/form_element.html" with element=form.invio_tesserino %}
                        </div>

                            {% csrf_token %}
                            <div class="alert-error">
                                {{ form.non_field_errors }}
                            </div>

                    

                   
                </div>
                    <div class="form-actions">
                         <button type="submit" class="btn btn-info">Invia</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
