<p>
Gentile Collega,</p>
<p>da qualche mese e' attivo il Nuovo Portale (Nuovo Portale Ordine degli Psicologi), che puo' visitare all'indirizzo:</p>
<p>www.psicologipuglia.it</p>

<p>Con il lancio del Nuovo Portale, l’Ordine ha dato avvio ad un aggiornamento dei dati in suo possesso. Dati personali, indirizzi postali ed indirizzi email sono infatti fondamentali per stabilire una buona comunicazione Ordine-iscritto e per Lei sono lo strumento principale per restare sempre aggiornato sul mondo della professione.</p>
<p>Per tale motivo (ed al fine di snellire le procedure telematiche) La invitiamo ad accedere al Suo Profilo Professionale, creato appositamente per Lei e che contiene i dati che Lei ha fornito in Segreteria al momento della Sua iscrizione.</p>
<p>Il suo nome utente e password personalizzate sono:</p>


<p>Tramite il seguente link puo' accedere al suo Profilo:
La invitiamo ad accedere al Suo Profilo Professionale, tramite il link evidenziato
<a href="http://ordine.psicologipuglia.it/cas/login?service=http%3A%2F%2Fordine.psicologipuglia.it%2Faccounts%2Flogin%2F%3Fnext%3D%252F">clicca qui per accedere al login</a>
Inserendo i suoi dati personali, che potrà modificare in seguito:
</br>
user: <strong>{{email_context.username}}</strong></br>
password: <strong>{{email_context.password}}</strong></br>


<p>Qualora riscontrasse errori nei Suoi dati, se avesse cambiato indirizzo email o in caso di qualsiasi incongruenza, e' invitato a rettificare autonomamente i suoi dati tramite la funzione “modifica” o a comunicarli presso la Segreteria dell’Ordine.</p>
<p>In aggiunta, e' invitato a fornire le autorizzazioni necessarie a norma di legge, nel caso voglia ricevere aggiornamenti, informazioni, newsletter relative alla professione anche da parte di soggetti terzi. Il Profilo cui ha accesso e' quello che sarà visualizzato in Albo, cioe' che sara' visualizzato dai cittadini che La ricercheranno tramite i canali istituzionali Ordinistici; pertanto, ne abbia cura!
Viceversa, verranno presi in considerazione i dati forniti al momento dell'iscrizione all'Ordine, che se presentano errori rischierebbero di crearLe difficoltà nella comunicazione con lo stesso.</p>
<p>
In caso di difficoltà nella gestione della procedura, puo' contattare
- dott. Antonio Vangi (info@idlweb.net), webmaster del Nuovo Portale;
- dott. Antonio Calamo-Specchia, (a.calamospecchia@gmail.com), Coordinatore della Commissione Comunicazione, gestione del web e trasparenza.
La Segreteria e' sempre a disposizione per fornirLe eventuali chiarimenti in merito, ma non puo' fornire assistenza tecnica nella procedura di aggiornamento.</p>



