<p>Gentili Colleghi
al fine di snellire le procedure telematiche e nell'ottica di rinnovamento già avviato con il lancio del Nuovo Portale dell'Ordine, vi invitiamo ad accedere al vostro Profilo Professionale, tramite il link evidenziato
Tale Profilo è quello che sarà visualizzato in Albo, cioè che sarà visualizzato dai cittadini che vi ricercheranno tramite i canali istituzionali Ordinistici.
Pertanto, accedendo tramite il link sopra riportato, vi invitiamo a validare i vostri dati ed a fornire le autorizzazioni necessarie a norma di Legge.
Viceversa, verranno presi in considerazione i dati forniti al momento dell'iscrizione all'Ordine.</p>
<p><a href="http://ordine.psicologipuglia.it/cas/login?service=http%3A%2F%2Fordine.psicologipuglia.it%2Faccounts%2Flogin%2F%3Fnext%3D%252F">clicca qui per accedere al login</a> - utilizzate le credenziali riportate in email</p>
