{% extends "base_one_column.html" %}
{% load monitoring_tags %}
{% load tags_cloud %}
{% load om_utils %}
{% load popover_info %}
{% load people_tags %}
{% load url from future %}


{% block title %}Home page{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block content_header_container %}<a href="/" style="color: #2d2d2d; opacity: 0.70;">{{ main_city }}</a>{% endblock %}

{% block sub_nav %}
  <section id="payoff" class="container-fluid">
    <div class="row-fluid" >
      
      <div class="cosa-fanno span4" style="">
        <h2 style="width: 1100px;
text-align: center;
position: relative;
margin-top: 11%;
font-size: 28px;
padding-bottom: 5px;
font-weight: 100;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 2px solid #CCC;
white-space: nowrap;
padding: 34px 0px 21px 0px;
border-radius: 20px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

">Scopri gli psicologi della tua regione:
        
            <input style="width: 300px;
width: 300px;
line-height: 19px;
height: 37px;
font-size: 17px;
margin-left: 12px;
padding: 4px 0px 0px 45px;" type="text" class="input-large" id="search-politician"
                   data-provide="typeahead" data-items="5" data-minLength="2"
                   placeholder="Digita il nome di uno psicologo">
        </h2>
      </div>
    </div>
  </section>

    {% if events|length > 0 %}

    <section id="agenda">
       <div class="container-fluid">
           <div class="row-fluid">
               <div class="span12">
                   <h2>Cosa succede nell'Albo, gli eventi:{% popover_info 'agenda' %}</h2>
                   <div class="row-fluid">
                       {% for event in events %}
                           <div class="span6">{% include 'events/_inline_home.html' %}</div>
                       {% endfor %}
                   </div>
               </div>
           </div>
       </div>

    </section>
    {% endif %}

{% endblock %}


{% block container %}

  <div class="row-fluid" height="20%">
    
  </style>
     <div class="row-fluid equal-cheight-no  element-padding-default element-vpadding-default">
        <div class="section-column span12" style="">
            <div class="inner-content  content-box " style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
                <style type="text/css" scoped="">i {font-style: normal !important; } #feature_boxes_2124216310 .feature_box > .brad-icon{color:#3498db;color:rgba(52,152,219,1);}</style>
                <div  style="margin-bottom:0; border-bottom: 1px solid #ebe8e0;">
                      <div style="text-align: center;" id="feature_boxes_2124216310" class="row-fluid style2 background-shadow-no background-radius-yes feature_boxes box-style3 enable-hr-no element-vpadding- hr-type-tiny hr-color-default hr-style-style1 ex-large-size element-inner-vertical-padding-medium element-inner-horizental-padding-medium icon-side-left  iconbox-style1  align-content-center-yes align-icon-center-yes columns-3 crease-background-no element-padding-large  ">

                            <div style="width: 30%; border-right: 1px solid #ebe8e0;" class="span not-bottom-columns top-columns not-right-columns a1-mobile">
                                  <div align="center" class="inner-content " style="">
                                        <div class="feature_box " style="position: relative !important;margin-top: 17% !important; margin-bottom: 17%;"><span class="brad-icon " ><i class="fa-mobile fa-4x"></i></span>
                                            <div class="heading">
                                                <div style="margin-top: 15px; margin-bottom: 15px;" class="heading-content"><h4>INFORMATI</h4>
                                                </div>
                                                <div class="hr"><span></span>
                                                </div>
                                            </div>
                                            <div class="feature-content">Tutta l'attività dell'Ordine in tempo reale e sempre disponibile, con dati ufficiali.
                                            </div>
                                        </div>
                                  </div>
                            </div>  
                            <div style="width: 30%; border-right: 1px solid #ebe8e0;" class="span not-bottom-columns top-columns not-right-columns a2-mobile">
                                  <div align="center" class="inner-content " style="">
                                        <div class="feature_box " style="position: relative !important;margin-top: 17% !important; margin-bottom: 17%; margin-left: -10%;"><span class="brad-icon " ><i class="fa-comments fa-4x"></i></span>
                                            <div class="heading">
                                                <div style="margin-top: 15px; margin-bottom: 15px;" class="heading-content"><h4>MONITORATI</h4>
                                                </div>
                                                <div class="hr"><span></span>
                                                </div>
                                            </div>
                                            <div class="feature-content">Puoi monitorare l'andamento dei progetti.
                                            </div>
                                        </div>
                                  </div>
                            </div>
                            <div style="width: 30%;" class="span not-bottom-columns top-columns right-columns a3-mobile">
                                <div align="center" class="inner-content " style="">
                                      <div class="feature_box " style="position: relative !important;margin-top: 17% !important; margin-bottom: 17%;"><span class="brad-icon " ><i class="fa-cogs fa-4x"></i></span>
                                            <div class="heading">
                                                <div style="margin-top: 15px; margin-bottom: 15px;" class="heading-content"><h4>PARTECIPI</h4>
                                                </div>
                                                <div class="hr"><span></span>
                                                </div>
                                            </div>
                                            <div class="feature-content">Intervieni nella vita dell'Ordine: commenta e vota l'attività nella community della NPOP
                                            </div>
                                      </div>
                                </div>
                            </div>            
                      </div>

                </div> 
          </div> 
      </div>
  </div>


  <article>
      <div class="row-fluid">
          <div class="span6">
              <h2>Ultimi progetti presentati da noi psicologi</h2>
              <table class="items-list">
                  <tbody>
                  {% for a in last_presented_acts %}
                      <tr>
                          <td>{{ a.presentation_date|circled:"full" }}</td>
                          <td>
                              {% include 'acts/_act_inline.html' with act=a.downcast only %}
                              {% object_inline_monitoring a.downcast %}
                          </td>
                      </tr>
                  {% empty %}
                  Nessun atto presentato
                  {% endfor %}
                  </tbody>
              </table>


          </div>

          <div class="span6">
              <h2>Ultime attività dei cittadini</h2>
              <table class="items-list">
                  <tbody>
                  {% for n in last_community_news %}
                      <tr>
                          <td>
                              <div class="circle-date pull-left">
                                  <span class="day">{{ n.news_date|date:'d' }}</span>
                                  <span class="month">{{ n.news_date|date:'M' }}</span>
                              </div>
                          </td>
                          <td>
                              {{ n.text|safe }}
                          </td>
                      </tr>
                  {% empty %}
                  Nessuna attivit&agrave; 
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>

      <div class="row-fluid">
          <div class="span4">
              <h2>I più presenti al voto :-)</h2>
              <div>
                  I dati si riferiscono alle votazioni svolte in Consiglio.<br/>
                  Non vengono calcolate le presenze alle sedute né se l'assenza
                  abbia motivazioni 'sindacali'.
              </div>
              <ul class="people-list">
                  {% for politician in least_absent %}
                      <li>
                          {% with politician|get_absent_label as absent_label %}
                          {% include 'people/politician_list_section.html' with value=absent_label %}
                          {% endwith %}
                          {% object_inline_monitoring politician.person %}
                      </li>
                  {% empty %}
                  Nessun consigliere
                  {% endfor %}
              </ul>
          </div>
          <div class="span4">
              <h2>I professionisti più seguiti</h2>
              <div>
                  Sono gli psicologi più seguiti dagli utenti del sito che in
                  questo modo ricevono aggiornamenti su tutte le attività del professionista scelto.
              </div>
              <ul class="people-list">
                  {% for p in top_monitored %}
                      <li>
                          {% include 'people/politician_list_section.html' with politician=p.object.current_institution_charges.0 %}
                          {% object_inline_monitoring p.object %}
                      </li>
                  {% empty %}
                  Nessun amministratore monitorato

                  {% endfor %}
              </ul>
          </div>
          <div class="span4">
              <h2>I consiglieri instacabili</h2>
              <div>
                  Sono i Consiglieri che hanno presentato più atti come primo firmatario.
              </div>
              <ul class="people-list">
                  {% for p in most_acts %}
                      <li>
                          {% include 'people/politician_list_section.html' with politician=p value=p.n_acts what='atti' %}
                          {% object_inline_monitoring p.person %}
                      </li>
                  {% empty %}
                  Nessun consigliere

                  {% endfor %}
              </ul>
          </div>
      </div>

      <div class="row-fluid">
          <div class="span6">
              <h2>Atti in evidenza {% popover_info 'in-evidenza' %}</h2>
              <table class="items-list">
                  <tbody>
                  {% for a in key_acts %}
                      <tr><td>
                          {% include 'acts/_act_inline.html' with act=a.downcast only %}
                          {% object_inline_monitoring a.downcast %}
                      </td></tr>
                  {% empty %}
                      <tr>
                          <td><p>Nessun atto in evidenza.</p></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>

          <div class="span6">
              <h2>Votazioni importanti {% popover_info 'votazioni' %}</h2>
              <table class="items-list">
                  <tbody>
                  {% for v in key_votations %}
                      {% include 'votations/_votation_inline.html' with votation=v only %}
                  {% empty %}
                      <tr>
                          <td><p>Nessun voto chiave.</p></td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>

      <div class="row-fluid">
          <div class="span12">
              <h2>Argomenti più discussi {% popover_info 'argomenti-piu-discussi' %}</h2>
              {% if tags_to_cloud %}
              {% tags_cloud tags_to_cloud %}
              {% else %}
              Nessun argomento
              {% endif %}
          </div>
      </div>

  </article>


  {% if ALERT_POPUP|length > 0 %}
      <div class="modal" id="home-alert">
          <div class="modal-header">
              <button class="close" data-dismiss="modal">×</button>
              <img src="{{ STATIC_URL }}img/logo-openmunicipio.png" alt="Open municipio">
          </div>
          <div class="modal-body">
              <p>{{ ALERT_POPUP|safe }}</p>
          </div>
          <div class="modal-footer">
              <a href="#" class="btn btn-primary btn-large" data-dismiss="modal">Entra nel sito</a>
          </div>
      </div>
  {% endif %}


{% endblock container %}


{% block footer_js_includes %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.submitlink.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-typeahead.2.0.0.modified.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){        

          function removenull(str) {
              var new_str = str;
              if (str == '') {
                  new_str = str.replace('', "N/A");
              }
              else if (str == null) {
                  new_str = "N/A";
              }

              return new_str;
          }

          $('#search-politician').typeahead({
              source: function(typeahead, query) {
                  $.ajax({
                      url: "{% url 'om_politician_search'  %}",
                      dataType: "json",
                      type: "GET",
                      data: {
                          max_rows: 10,
                          key: query,
                          ajax: 1
                      },
                      success: function(data) {
                          var return_list = [], i = data.length;
                          while (i--) {
                              return_list[i] = {
                                  slug: data[i].fields.slug,
                                  image: data[i].fields.img,
                                  value: removenull(data[i].fields.first_name) + " " + removenull(data[i].fields.last_name) + " " + data[i].fields.extra_data};
                          }
                          typeahead.process(return_list);
                      }
                  });
              },
              onselect: function(obj) {
                  window.location.href = "http://{{ current_site }}/people/" + obj.slug;
              }
          });

          $('a.event_toggle_modal').each(function() {
              var link = $(this);
              link.click(function(e) {
                  e.preventDefault();
                  $(link.attr('href')).modal();
              });
          });
      });

      
  </script>

    {% if ALERT_POPUP|length > 0 %}
      <script type="text/javascript">
          $(document).ready(function(){
              $('#home-alert').modal();
          });
      </script>
  {% endif %}
{% endblock %}
